@use "@/styles/globals.scss" as *;

.Button {
  background-color: $g-primary-color !important;
  width: 80%;
  margin: 10px !important;
  color: $g-font-color !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
