$g-primary-color: #f9c751; // メインボタン
$g-secondry-color: #ffd771; // 進行中ボタンなど
$g-third-color: #f5d0a9;
$g-success-color: #67d778; // 「まかせて！」　ボタン
$g-success-secondary-color: #92b9fe; // 「金額入力待ち」　ボタン
$g-info-color: #d5a7dd; // 「金額入力待ち」　ボタン
$g-error-color: #ffa9a1; // 「取り下げ」　ボタン

$g-grey: #4f4e4e; // 非活性ボタン

$g-background-color: #f2eee3; // 背景色

$g-font-color: #2b2b2b;
$g-font-h1-size: 30px;
$g-font-h2-size: 16px;
$g-font-p-size: 12px;
