@use "@/styles/globals.scss" as *;

.InfoCard {
  margin: 0 !important;
  padding: 0px 20px !important;
  border-radius: 50px !important;
  background-color: $g-third-color !important;
  box-shadow: 0px 0px 0px 0px !important;
}
