@use "@/styles/globals.scss" as *;

:root {
    background-color: $g-background-color;
    padding: 0rem !important; 
}


h2 {
    display: flex;
    justify-content: flex-start;
    margin: 0 !important;
}

.maxPrice{
    background-color: rgb(242, 225, 191);
    margin-top: 5%;
}

.maxPriceTag {
    font-size: 10px;
}


