@import "@/styles/globals.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; // ビューポートの高さに合わせる
}

.title {
  margin: 20px 0;
  color: $g-font-color;
}

.formContainer {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}
